.mainComp {
    display: flex;
    flex-wrap: nowrap;
    margin: 15px;
    padding: 10px;
    border: 2px solid darkorange;


}
.monitor {
    display: flex;
    margin: 15px;
    padding: 10px;
    border: 2px solid darkorange;
}

.info {
    display: flex;
    margin: 15px;
    padding: 10px;
    border: 2px solid darkorange;
    flex-direction: column;
    align-items: flex-end;
}